/* I used a modified version of the style sheet from 22-Mini Project - ST  */
/* Universal Selector */
* {
    margin:0;
    padding:0;  
  }
  
  /* Element Selectors */
  body {
    position: relative;
    font-family: "Goudy Bookletter 1911", sans-serif;
    font-size: 20px;
    background-color: #FDF8F5;
    color: #4F4846;
  }
  
  h1,
  h2 {
    margin: 20px;
    font-weight: bolder;
    font-size: xx-large;
  }
  
  main {
    padding: 60px 0;
  }
  
  li {
    display: inline;
    padding: 20px;
    text-decoration: none;
  }
  
  a {
    text-decoration: none;
    color: #FDF8F5;
  }
  
  header,
  footer {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: #7c14b8;
  }
  
  header {
    position: fixed;
    border-bottom: 10px solid #DDAF94;
  }
  
  footer {
    position: absolute;
    margin-top: 0;
    bottom: 0;
    border-bottom: 10px solid #7c14b8;
    color: #FDF8F5;    
  }
   
  section {
    margin-bottom: 0;
    padding: 20px 10px 40px 10px;
    border-top: 3px solid #a5e8eb;
    background-color:  #bfd6e8;
  }

  #start-button {
    background-color: hotpink;
    border-color: hotpink;
    color: white;
    height: 50px;
    width: 100px;
  }

  #start-button:hover {
    background-color: purple;
    border-color: purple;
    height: 50px;
    width: 100px;
  }
   
  /* Class Selectors */
  .text-center {
    text-align: center;
  }
  
  .text-right {
    text-align: right;
  }
  